.screensize {
  background: $grey;
  p {
    margin: 0;
    padding: 2rem;
    font-size: 2rem;
  }
}

@media (max-width: $sm) {
  .screensize--md, .screensize--lg {
    display: none;
  }
}

@media (min-width: 48rem) and (max-width: $md) {
  .screensize--sm, .screensize--lg {
    display: none;
  }
}

@media (min-width: $lg) {
  .screensize--sm, .screensize--md {
    display: none;
  }
}